.strike {
    text-decoration: line-through;
}

.border-style {
    border: 1px solid #50505050;
    border-radius: 10px;
}

p {
    margin-bottom: 10px;
}

.form-check {
    /* float: right; */
    position: relative;
    bottom: -5px;
}

button {
    position: relative;
    right: 0px;
    bottom: 36px;
}
