<!-- <p>{{ todo.sno }} | {{ todo.title }} | {{ todo.desc }}</p> -->

<div class="my-3 p-3 border-style container">
    <h5 [ngClass]="{ 'strike': !todo.active }">{{ todo.title }}</h5>
    <p [ngClass]="{ 'strike': !todo.active }">{{ todo.desc }}</p>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="todo{{i}}" (click)="onCheckboxClick(todo)" [checked]="!todo.active">
        <label class="form-check-label" for="todo{{i}}">Mark as done.</label>
      </div>
    <button class="btn btn-danger float-sm-end" (click)="onDeleteClick(todo)">Delete</button>
</div>